extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | 
          small &nbsp;

    .col-lg-12.col-sm-4
      p.lead
        | MusicVerse: Your Weekly Dose of Music Reviews and Trends
    
  .row
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #1
          .card-body
            h5.card-title 
              a(href='/songs/I Wanna Be Yours') I Wanna Be Yours
            h6.card-subtitle.text-muted  Song by Arctic Monkeys
          img(src='https://images.genius.com/af4ac59ba9e3e8b0fe70d7c1156ff8f2.1000x1000x1.jpg', width='200', height='200',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | The song reworks John Cooper Clarke’s poem of the same name. The song focuses on similar themes in the poem. In an interview, Clarke said his poem is:
              | one of a classic style of love poem, love song, in which the writer expresses his desire to be useful to the object of his desire.&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Album: AM
            li.list-group-item Average Rating - 4.8 
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Indie-rock 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Upbeat
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Positive
              | &nbsp;   
          .card-footer.text-muted
            | 2 days ago
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #2
          .card-body
            h5.card-title 
              a(href='/songs/Starboy') Starboy
            h6.card-subtitle.text-muted  Song by The Weeknd
          img(src='https://upload.wikimedia.org/wikipedia/en/3/39/The_Weeknd_-_Starboy.png', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | “Starboy” is The Weeknd’s realization of his mega-stardom. Transforming from mysterious Canadian act to Billboard mainstay. Abel has come a long way, but with negative consequences in his journey to the top, he has developed mixed feelings towards fame.&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Album: Starboy
            li.list-group-item Average Rating - 4.8
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Hip-Hop 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Electropop
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Rap
              | &nbsp;   
          .card-footer.text-muted
            | 6 days ago
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #3
          .card-body
            h5.card-title 
              a(href='/songs/Levitating') Levitating
            h6.card-subtitle.text-muted  Song by Dua Lipa
          img.center(src='https://images.genius.com/dd37b530cf20f2ce699f91e02a476a8a.847x847x1.jpg', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | With themes of space travel and excitement, “Levitating” is a joyful ode to the often-quick process of falling in love.&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Album: Future Nostalgia
            li.list-group-item Average Rating - 4.6
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Disco 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Pop
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Electro
              | &nbsp;    
          .card-footer.text-muted
            | 10 days ago
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #4
          .card-body
            h5.card-title 
              a(href='/songs/Sunflower-Spider-Man: Into the Spider-Verse') Sunflower-Spider-Man: Into the Spider-Verse
            h6.card-subtitle.text-muted  Song by Post Malone and Swae Lee
          img.center(src='https://i.scdn.co/image/ab67616d0000b273e2e352d89826aef6dbd5ff8f', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | “Sunflower” marks the second collaboration by Post Malone and Swae Lee. It serves as the second single for Post Malone’s 2019 album, Hollywood’s Bleeding, and is part of the soundtrack for the 2018 animated film Spider-Man: Into the Spider-Verse.&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Album: Spider-Man: Into the Spider-Verse
            li.list-group-item Average Rating - 4.8
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Hip-Hop 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Dream-pop
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary R&B
              | &nbsp;   
          .card-footer.text-muted
            | 2 days ago
      