extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Loc8r
          small &nbsp;Find places to work with wifi near you!
  .row
    .col-lg-12.col-sm-8
      .row.list-group
        .col-lg-12.list-group-item
          h4
            a(href='/songs/I Wanna Be Yours') I Wanna Be Yours
              span.badge.pull-right.badge-default Album: AM
            small &nbsp;
              .the-icons
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default
          p.author Song by Arctic Monkeys
          p.Genres Genres  
           
            span.badge.rounded-pill.bg-dark Indie-rock
            | &nbsp;
            span.badge.rounded-pill.bg-dark Upbeat
            | &nbsp;
            span.badge.rounded-pill.bg-dark Positive
            | &nbsp;
        .col-lg-12.list-group-item
          h4
            a(href='/books/Angels_and_Demons') Angels and Demons
              span.badge.pull-right.badge-default 736 Pages
            small &nbsp;
              .the-icons
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default
              
          p.author Author - Dan Brown
          p.Genres Genres  
           
            span.badge.rounded-pill.bg-dark Fiction
            | &nbsp;
            span.badge.rounded-pill.bg-dark Mystery
            | &nbsp;
            span.badge.rounded-pill.bg-dark Thriller
            | &nbsp;
            span.badge.rounded-pill.bg-dark Crime
            | &nbsp;
        .col-lg-12.list-group-item
          h4
            a(href='/books/The_Son_Of_Neptune') The Son of Neptune
              span.badge.pull-right.badge-default 521 Pages
            small &nbsp;
              .the-icons
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default
              
          p.author Author - Rick Riordan
          
          p.Genres Genres  
            span.badge.rounded-pill.bg-dark Fantasy
              | &nbsp;
            span.badge.rounded-pill.bg-dark Mythology
              | &nbsp;
            span.badge.rounded-pill.bg-dark Fiction
              | &nbsp;
            span.badge.rounded-pill.bg-dark Young Adult
              | &nbsp;
          h4
            a(href='/books/The_Enemy') The Enemy
              span.badge.pull-right.badge-default 496 Pages
            small &nbsp;
              .the-icons
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default
          p.author Author - Lee Child
          p.Genres Genres  
           
            span.badge.rounded-pill.bg-dark Thriller
            | &nbsp;
            span.badge.rounded-pill.bg-dark Crime
            | &nbsp;
            span.badge.rounded-pill.bg-dark Fantasy
            | &nbsp;    
          h4
            a(href='/books/Game_of_Thrones') A Game of Thrones (A Song of Ice and Fire #1)
              span.badge.pull-right.badge-default 835 Pages
            small &nbsp;
              .the-icons
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default
          p.author Author - George R.R. Martin
          p.Genres Genres  
           
            span.badge.rounded-pill.bg-dark Fantasy
            | &nbsp;
            span.badge.rounded-pill.bg-dark Fiction
            | &nbsp;
            span.badge.rounded-pill.bg-dark Adventure
            | &nbsp;    
      
    .col-lg-12.col-sm-4
      p.lead
        | Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
    
  .row
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #1
          .card-body
            h5.card-title 
              a(href='/books/Philosophers_Stone') Harry Potter and the Philosopher's Stone
            h6.card-subtitle.text-muted  JK Rowling 
          img(src='https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_568,c_scale/jackets/9781526626585.jpg', width='200', height='200',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item No of Pages - 223 Pages
            li.list-group-item Average Rating - 4.8 
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Fiction 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Fantasy
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Adventure
              | &nbsp;   
          .card-body
            a.card-link(href='#') Card link
            a.card-link(href='#') Another link
          .card-footer.text-muted
            | 2 days ago
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #2
          .card-body
            h5.card-title 
              a(href='/books/Angels_and_Demons') Angels and Demons
            h6.card-subtitle.text-muted  Dan Browm
          img(src='https://www.crossword.in/cdn/shop/products/9780552161268.jpg?v=1680185038', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item No of Pages
            li.list-group-item Average Rating 
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Mystery 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Crime
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Thriller
              | &nbsp;   
          .card-body
            a.card-link(href='#') Card link
            a.card-link(href='#') Another link
          .card-footer.text-muted
            | 2 days ago
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #3
          .card-body
            h5.card-title 
              a(href='/books/The_Son_Of_Neptune') The Son of Neptune
            h6.card-subtitle.text-muted  JK Rowling 
          img.center(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPocBLfmZeULdSpSuJSZvWIBckuiyfrmI2bA&usqp=CAU', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item No of Pages
            li.list-group-item Average Rating
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Fiction 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Fantasy
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Young Adult
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Mythology
              | &nbsp;   
          .card-body
            a.card-link(href='#') Card link
            a.card-link(href='#') Another link
          .card-footer.text-muted
            | 2 days ago
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #4
          .card-body
            h5.card-title 
              a(href='/books/The_Enemy') The Enemy
            h6.card-subtitle.text-muted  Lee Child
          img.center(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW1L7j2TUzBBxtgjmnNjjNb2Yw4RWTD7B562VFVVMV-myBZyZZgtqYqI2DADZN_upa1po&usqp=CAU', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item Number of Pages
            li.list-group-item Average Rating 
            li.list-group-item Genres
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Fiction 
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Fantasy
              | &nbsp;   
              span.badge.rounded-pill.bg-secondary Crime
              | &nbsp;   
          .card-body
            a.card-link(href='#') Card link
            a.card-link(href='#') Another link
          .card-footer.text-muted
            | 2 days ago
      .col-sm-6
        .bs-component 
        .card.mb-3
          h6.card-header Trending #5
          .card-body
            h5.card-title Harry Potter and the Philosopher's Stone
            h6.card-subtitle.text-muted  JK Rowling 
          img.center(src='https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_568,c_scale/jackets/9781526626585.jpg', width='200', height='200', alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
            rect(width='100%', height='100%', fill='#868e96')
            text(x='50%', y='50%', fill='#dee2e6', dy='.3em') Image cap
          .card-body
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          ul.list-group.list-group-flush
            li.list-group-item No of Pages - 223 Pages
            li.list-group-item Average Rating - 4.8 
            li.list-group-item Release Year - 1997
          .card-body
            a.card-link(href='#') Card link
            a.card-link(href='#') Another link
          .card-footer.text-muted
            | 2 days ago