extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | 
          small &nbsp;

  .row
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header I Wanna Be Yours

            .card-body
              h4.card-title 
                a(href='/songs/I Wanna Be Yours') I Wanna Be Yours
              p.card-text
                | "I Wanna Be Yours" is a poem by John Cooper Clarke, on his 1982 album Zip Style Method. The poem was brought to wider audience via an adaptation by Arctic Monkeys on their 2013 album AM.
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Starboy
            .card-body
              h4.card-title 
                a(href='/songs/Starboy') Starboy
              p.card-text
                | "Starboy" is a song by Canadian singer the Weeknd featuring French electronic duo Daft Punk. It was released on September 21, 2016, through XO and Republic Records, as the lead single from his third studio album of the same name (2016).
   .col-lg-4
        .bs-component 
        .card.border-primary.mb-3(style='max-width: 20rem;')
            .card-header Levitating
            .card-body
              h4.card-title 
                a(href='/songs/Levitating') Levitating
              p.card-text
                | "Levitating" is a song by English-Albanian singer Dua Lipa from her second studio album, Future Nostalgia (2020). 