extends layout

block content
  .row.page-header
    .col-lg-12
      h1(style="color: #FFFFFF") Levitating
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-empty
            span.glyphicon.glyphicon-star-empty
            .panel.panel-primary
            .panel-heading
              h5.panel-title(style="color: #FFFFFF") Song by Dua Lipa
            .panel-body

          .panel.panel-primary
            .panel-heading
              h5.panel-title(style="color: #FFFFFF") About
            .panel-body
              p | With themes of space travel and excitement, “Levitating” is a joyful ode to the often-quick process of falling in love.

          .panel.panel-primary
            .panel-heading
             h5.panel-title(style="color: #FFFFFF") About Dua Lipa
            .panel-body
              p Dua Lipa is an English and Albanian singer and songwriter. Her mezzo-soprano vocal range and disco-influenced production have received critical acclaim and media coverage.
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading

            .panel-body
              img(src='https://images.genius.com/dd37b530cf20f2ce699f91e02a476a8a.847x847x1.jpg', width='400', height='400',alt='Italian Trulli',  aria-label='Placeholder: Image cap', focusable='false', role='img', preserveAspectRatio='xMidYMid slice',  style='font-size:1.125rem;text-anchor:middle')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.button.btn.btn-info(type='button', href='/songs/review/new' ) Add Review
              h2.panel-title Readers reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                  span.reviewAuthor
                    strong Sherlock Holmes 
                  small.reviewTimestamp 
                    strong 16 July 2013
                  .col-xs-12
                    p 
                      em  I will never ever rate this lower than 5 stars. BEAUTIFUL.
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      
                  span.reviewAuthor
                    strong Mr Res
                  small.reviewTimestamp 
                    strong 16 July 2013
                  .col-xs-12
                    p 
                      em  What a great book. Love the creativity